body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.sidePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.sideButton {
    width: 70px;
    height: 70px;
    margin: 25px 0;
    font-size: 14px;
}